# General temporary files
*.tmp

# Microsoft Word temporary files
~$*.doc*
~$*.dot*
Backup of *.doc*

# Microsoft Excel temporary and backup files
~$*.xls*
*.xlk

# Microsoft PowerPoint temporary files
~$*.ppt*

# Microsoft Visio autosave files
*.~vsd*
